@using CourseResultMVCWebApp.Models
@{
   List<Department> departments = ViewBag.Departments;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
</head>
<body>
<div>
   
    <fieldset>
        <legend>Show Department</legend>

        <table id="departmentTable" class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Code</th>

                    <th>Name</th>
                </tr>
                <tr></tr>
                @foreach (Department department in departments)
                {
                    <tr>
                        <td>@department.Code</td>

                        <td>@department.Name</td>
                    </tr>
                }
            </thead>
            <tbody id="tableBody"></tbody>
        </table>
    </fieldset>
        <!-- partial -->
    </div>

</body>
</html>
